 .gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .photo-card {
  position: relative;
  background-color: #e5ebee;
  }
  
  
  .gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .gallery__link {
    display: block;
    text-decoration: none;
    overflow: hidden;
    width: 372px;
    height: 372px;
  }
  
  .gallery__link:hover {
    cursor: zoom-in;
  }
  .info{
    padding-left: 20px;
  }
  .is-hidden {
      display: none;
  }
  
  .search-form{
      display: flex;
      justify-content: center;
      align-items:baseline;
      gap: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 20px;
      background-color: rgb(221, 237, 244);
  }
  
  .search-button {
  display: block;
  background-color: #4cb8ea;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  }
      
  .search-input {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      min-width: 100px;
      border: 1.5px solid #4cb8ea;
      border-radius: 4px;
  }
